.heading {
  font-style: italic;
  font-size: 22px;
  margin: .5rem 0;
}

.subheading {
  font-style: italic;
  font-size: 18px;
}

.title {
  font-size: 22px;
  margin: .5rem 0;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
