@import '~styles/variables';

.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor;

  >div {
    display: flex;
  }
}

.logo {
  width: 5rem;
}

.menu-item {
  all: unset;
  margin: 1rem;
  cursor: pointer;
  position: relative;

  span {
    padding: .25rem 0;

    &.isActive {
      border-bottom: 3px solid red;
    }
  }
}

.menu-tomato {
  width: 2rem;
  margin-right: .5rem;
}
